.top {
    background: linear-gradient(black,rgb(0,0,0,0));
    position: absolute;
    padding-left: 5%;
    height: 400px;
    width: 94%;

}

.imginside_left{
    display: inline-flex;
    margin-left: auto;

    width: 50%;
    height: 100%;
    object-fit: cover;

}

.imginside_right{
    display: inline-flex;
    margin-left: auto;
    
    width: 50%;
    height: 100%;
    object-fit: cover;

}


.container {
    padding-left: 15%;
    display: inline-flex;
    vertical-align: top;

    bottom: 0px;

    height: 350px;
    width: 70%;


}

.info {
    background: rgb(219, 230, 208);
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width:50%
}


#myVideo{
    width: 100%;
    margin-bottom: 50px;
}