.top {
    padding-left: 120px;
    height: 800px;
    width: 40%
}

.imginside_left{
    display: inline-flex;
    margin-left: auto;

    width: 50%;
    height: 100%;
    object-fit: cover;

}

.imginside_right{
    display: inline-flex;
    margin-left: auto;
    
    width: 50%;
    height: 100%;
    object-fit: cover;

}


.container {
    padding-top: 40px;
    display: inline-flex;
    vertical-align: top;

    height: 400px;
    width: 100%;


}

.info {
    padding-left: 40px;
    width:50%
}
