.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;

}
.block{
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:450px;
    text-align: center;

}
#block_image{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

form{

    margin-left: auto;
    margin-right: auto;

    width: 450px;
    height: 100px;

    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    
}
.search_container{
    width: 310px;
}

#search{
    width: 200px;

}

.search_button{
    width: 100px;

}