.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;

}
.block{
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:750px;
    text-align: center;

}
#block_image{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

form{

    margin-left: auto;
    margin-right: auto;

    width: 550px;
    height: 70px;

    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

    
}
.search_container{
    width: 250px;
    display: flex;
    align-items: flex-start;
}

input{
    display: inline-block;
    width: 200px;
    border-right-style: none;

}

.search_button{
    border-left-style: none;
    padding-top: 2px;

    background-color: white;
    display: inline-block;
    width: 35px;
    height: 21px;

}

.search{
    border-style: none;
    width: 12px;
}

.criteria{
    display: inline-block;
    width: 100px;
}


.imageBlock{
    display: inline-block;
}

.buttonBlock{
    width:25%;
    height: 800px;
    padding-bottom: 400px;
    display: inline-block;
}

.image_container{
    display: flex;
    justify-content: space-evenly;
}


.next{
    display:block;
    margin-top: 230px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.next:hover{
    width: 55px;
}

.next:active{
    width: 45px;
}