.header_container{
    /* position: fixed; */

    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 198, 253);
}

.header_item{
    position: relative;

    text-align: center;
    border-radius: 20px;
    min-width: 150px;
    text-decoration: none;
    
}
.header_item:hover{
    /* background-color: rgb(138, 137, 137,0.2); */
    
    
}

#left_header{
    position: relative;
    width: 200px;
    margin-left: 5%;
}
#center_header{

    position: relative;
    padding-top: 8px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#right_header{
    position: relative;
    padding-top: 8px;
    width: 200px;
    margin-right: 5%;
}

.logo{
    font-family: 'Cormorant', serif;
    color: white;
    font-size: 28px;
}

.logo:hover{
    color: rgb(231, 231, 231);
}

.museum_name{
    color: white;
}

.museum_name:hover{
    color: rgb(231, 231, 231);
}