.header_container{
    /* position: fixed; */

    display: flex;
    justify-content: space-between;
}

.header_item{
    position: relative;

    text-align: center;
    border-radius: 15px;
    min-width: 150px;
    text-decoration: none;
    
    
}
.header_item:hover{
    background-color: rgb(138, 137, 137,0.2);
    
    
}

#left_header{
    position: relative;
    width: 200px;
    margin-left: 5%;
}
#center_header{
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#right_header{
    position: relative;
    width: 200px;
    margin-right: 100px;
}
